# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.idea/.gitignore
/cmake-build-debug/CMakeFiles/CConnect4.dir/build.make
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-0eeb27fddc140183db6a.json
/cmake-build-debug/CConnect4.cbp
/.idea/CConnect4.iml
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CConnect4.dir/cmake_clean.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.21.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-1fef8a296f2c0fea3fff.json
/CMakeLists.txt
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.21.1/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-42bcf93690c622d1ebf4.json
/cmake-build-debug/CMakeFiles/CConnect4.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/CConnect4.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/CConnect4.dir/depend.make
/cmake-build-debug/CMakeFiles/CConnect4.dir/DependInfo.cmake
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/CMakeFiles/CConnect4.dir/flags.make
/cmake-build-debug/.cmake/api/v1/reply/index-2022-01-02T18-40-27-0397.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/CConnect4.dir/link.txt
/cmake-build-debug/Makefile
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug/CMakeFiles/CConnect4.dir/progress.make
/cmake-build-debug/CMakeFiles/progress.marks
/.idea/inspectionProfiles/Project_Default.xml
/cmake-build-debug/.cmake/api/v1/reply/target-CConnect4-Debug-466262c9012af37f0f71.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-d668cb81fceeba1bd9d6.json
/.idea/vcs.xml
